{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <section id="home" class="col-12 offset-lg-2 col-lg-8">

        <b-card-group columns>

            <b-card>
                <b-card-text>The Movie Data Base</b-card-text>
            </b-card>


            <b-card v-for="movie in movies" :key="movie.id"
                    align="center"
                    :img-src="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
                    :img-alt="'Poster of ' + movie.title"
                    img-top
            >
                <b-card-text>

                    <movie-card-button :movie='movie' :user_watched_ids='userWatchedIds'></movie-card-button>

                </b-card-text>
            </b-card>


            <b-card bg-variant="primary" text-variant="white">
                <blockquote class="card-blockquote">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer>
                        <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                    </footer>
                </blockquote>
            </b-card>

        </b-card-group>

    </section>
{% endblock %}

{% block javascripts %}
    <script>
        Vue.component('movie-card-button', {
            props: ['movie', 'user_watched_ids'],
            delimiters: ['${', '}'],
            data: function () {
                return {
                    loading: false,
                }
            },
            methods: {
                watched: function(movieTMDBId) {
                    this.loading = true
                    axios
                        .post('{{ path('api_user_watch') }}',{tmdb_id: movieTMDBId})
                        .then(
                            response => {
                                this.user_watched_ids.push(movieTMDBId)
                                this.loading = false
                                // console.log(response)
                            }, error => {
                                this.loading = false
                                // console.log(error)
                            }
                        )
                }
            },
            template:
                '<b-button block v-if="loading" variant="primary" disabled>\n' +
                '    <b-spinner small></b-spinner>\n' +
                '  </b-button>' +
                ' <b-button block variant="success" v-else-if="user_watched_ids.includes(movie.id)">' +
                '   <b-icon-eye-slash></b-icon-eye-slash>' +
                '</b-button>' +
                ' <b-button block variant="primary" v-else v-on:click="watched(movie.id)">' +
                '   <b-icon-eye-fill></b-icon-eye-fill>' +
                '</b-button>'
        })

        new Vue({
            el: '#home',
            delimiters: ['${', '}'],
            data: {
                userWatchedIds: [
                    {% for movie in app.user.movies %}
                    {{ movie.tmdbId }},
                    {% endfor %}
                ],
                movies: {{ trendingMovies|json_encode|raw }},
            },
        })
    </script>
{% endblock %}