{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <section id="home">
        <h1 class="text-center mt-4">Home index</h1>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        new Vue({
            el: '#home',
            delimiters: ['${', '}'],
        })
    </script>
{% endblock %}