{% extends 'base.html.twig' %}

{% block title %}Movie Search{% endblock %}

{% block body %}

    <br><br><br><br><br>

    <section id="movieSearch" class="row">
        <div class="col-12 offset-lg-2 col-lg-8">
            <b-form-input v-model="name" placeholder="Tu cherches quel film ?" required debounce="600" class="mb-3"></b-form-input>
        </div>

        <div class="col-12 col-md-6 col-xl-4" v-for="movie in movies" :key="movie.id">
            <b-card no-body class="overflow-hidden mb-2">
                <b-row no-gutters>
                    <b-col sm="4">
                        <b-card-img :src="'https://image.tmdb.org/t/p/w500' + movie.poster_path" :img-alt="'Poster of ' + movie.title" class="rounded-2"></b-card-img>
                    </b-col>
                    <b-col sm="8">
                        <b-card-body>
                            <b-card-title class="movie-title">
                                ${ movie.original_title }
                            </b-card-title>
                            <b-card-text class="movie-overview">
                                ${ movie.overview.length > 300 ? movie.overview.substring(0, 300)+'...' : movie.overview }
                            </b-card-text>
                            <b-card-text class="movie-overview">
                                <em>${ movie.release_date }</em>
                            </b-card-text>
                        </b-card-body>
                    </b-col>
                </b-row>
                <template v-slot:footer>
                    <div class="btn-group btn-group-justified w-100">
                        <watch-button :movie='movie' :user_watched_ids='userWatchedIds'></watch-button>
                    </div>
                </template>
            </b-card>
        </div>

    </section>
{% endblock %}

{% block javascripts %}
    {{ include('movie/components/watch-buttons-component.html.twig') }}
    <script>
        new Vue({
            el: '#movieSearch',
            delimiters: ['${', '}'],
            data: {
                userWatchedIds: [
                    {% for movie in app.user.watchedMovies %}
                    {{ movie.tmdbId }},
                    {% endfor %}
                ],
                name: '',
                movies: null
            },
            watch: {
                name: function () {
                    if (this.name != '') {
                        axios
                            .get('{{ path('api_movie_search', { 'name': 'replaceMe' }) }}'.replace('replaceMe', this.name))
                            .then(
                                response => {
                                    this.movies = response.data
                                    console.log(response.data)
                                }, error => {
                                    console.log(error)
                                }
                            )
                    } else {
                        this.movies = null
                    }
                }
            },
        })
    </script>
{% endblock %}