{% extends 'base.html.twig' %}

{% block title %}Tendance{% endblock %}

{% block body %}
    <section id="home" class="col-12 offset-lg-2 col-lg-8">

        <b-card-group columns>
            <b-card><b-card-text>The Movie Data Base</b-card-text></b-card>
            <b-card v-for="movie in movies" :key="movie.id"
                    align="center"
                    :img-src="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
                    :img-alt="'Poster of ' + movie.title"
                    img-top>
                <b-card-text>
                    <div class="row">
                        <div class="col-6">
                            <comment-button :movie='movie' @toggle-modal="modalShow = !modalShow, selectedMovie = movie"></comment-button>
                        </div>
                        <div class="col-6">
                            <watch-button :movie='movie'></watch-button>
                        </div>
                    </div>
                </b-card-text>
            </b-card>
            <b-card bg-variant="primary" text-variant="white">
                <blockquote class="card-blockquote">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    <footer>
                        <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
                    </footer>
                </blockquote>
            </b-card>
        </b-card-group>

    </section>
{% endblock %}

{% block javascripts %}
    {{ include('movie/components/watch-buttons-component.html.twig') }}
    {{ include('movie/components/comment-buttons-component.html.twig') }}

    <script>
        new Vue({
            el: '#home',
            delimiters: ['${', '}'],
            data: {
                movies: {{ trendingMovies|json_encode|raw }},
            },
        })
    </script>
{% endblock %}