<script>
    Vue.component('movie-card-button', {
        props: ['movie', 'user_watched_ids'],
        delimiters: ['${', '}'],
        data: function () {
            return {
                loading: false,
            }
        },
        methods: {
            watched: function(movieTMDBId) {
                this.loading = true
                axios
                    .post('{{ path('api_user_watch') }}',{tmdb_id: movieTMDBId})
                    .then(
                        response => {
                            this.user_watched_ids.push(movieTMDBId)
                            this.loading = false
                        }, error => {
                            this.loading = false
                        }
                    )
            }
        },
        template:
            '<div class="row">' +
            '<div class="col-6">' +
            '<b-button variant="primary" block><b-icon-card-text></b-icon-card-text></b-button>' +
            '</div>' +
            '<div class="col-6">' +
            '<b-button variant="danger" block v-if="loading" disabled><b-spinner small></b-spinner></b-button>' +
            '<b-button variant="success" block v-else-if="user_watched_ids.includes(movie.id)"><b-icon-eye-fill></b-icon-eye-fill></b-button>' +
            '<b-button variant="danger" block v-else v-on:click="watched(movie.id)"><b-icon-eye-slash></b-icon-eye-slash></b-button>' +
            '</div>' +
            '</div>'
    })
</script>