<script>
    Vue.component('user-friend-button', {
        props: ['user'],
        delimiters: ['${', '}'],
        data: function () {
            return {
                userFriends: [
                    {% for user in app.user.friends %}
                    {{ user.id }},
                    {% endfor %}
                ],
            }
        },
        methods: {
            follow: function(user) {
                this.loading = true
                axios
                    .post('{{ path('api_user_friend') }}',{ id: user.id })
                    .then(
                        response => {
                            this.userFriends.push(user.id)
                        }, error => {}
                    )
            }
        },
        template:
            '<button class="col-4 col-md-3 btn btn-light border-dark text-center pt-4 m-1" v-on:click="follow(user)">' +
            '<b-icon-person-check class="h1" v-if="userFriends.includes(user.id)"></b-icon-person-check>' +
            '<b-icon-person class="h1" v-else></b-icon-person>' +
            '<p>${ user.username }</p>' +
            '</button>'
    })
</script>