$title-font: 'Lobster Two', cursive;
$main-font: 'Montserrat', sans-serif;

$custom-white:   #fff;
$custom-black:   #000;
$custom-blue:    #2980b9;
$custom-indigo:  #6610f2;
$custom-purple:  #6f42c1;
$custom-pink:    #e83e8c;
$custom-red:     #dc3545;
$custom-orange:  #fd7e14;
$custom-yellow:  #ffc107;
$custom-green:   #27ae60;
$custom-teal:    #20c997;
$custom-cyan:    #17a2b8;