{% extends 'base.html.twig' %}

{% block title %}My profile{% endblock %}

{% block body %}
    <div>
        <h1>Hello {{ app.user.email }}!</h1>
        <p>

        </p>
    </div>
{% endblock %}

{% block javascripts %}
    <script>

    </script>
{% endblock %}