{% extends 'base.html.twig' %}

{% block title %}My profile{% endblock %}

{% block body %}

    <div id="userEdit" class="row justify-content-center">

        <div class="col-12 col-md-10 col-lg-9 col-xl-8">

            <ul class="timeline">

                <li v-for="(movie, index) in movieTimeline" :key="movie.name" :class="index % 2 ? 'timeline-inverted' : ''">
                    <div class="timeline-badge"><b-icon icon="exclamation-circle-fill" variant="primary"></b-icon></div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">${movie.title}</h4>
                            <p><small class="text-muted"><b-icon-clock-history class="mr-1"></b-icon-clock-history> ${movie.createdAt.date}</small></p>
                        </div>
                        <div class="timeline-body">
                            <p>${movie.overview}</p>
                        </div>
                    </div>
                </li>

            </ul>

        </div>

    </div>


{% endblock %}

{% block javascripts %}
    <script>
        new Vue({
            el: '#userEdit',
            delimiters: ['${', '}'],
            data: {
                movieTimeline: {{ movieTimeline|raw }}
            },
            mounted() {
                console.log(this.movieTimeline);
            }
        })
    </script>
{% endblock %}