{% extends 'base.html.twig' %}

{% block title %}My profile{% endblock %}

{% block body %}

    <div id="userEdit" class="col-12">

        <p>Bonjour {{ app.user.username}} ! Choisissez vos préférences :</p>

        <hr>
        <p>Films</p>
        <ul>
            {% for movie in app.user.movies %}
                <li>{{ movie.tmdbId }}: vu le {{ movie.createdAt|date('d/m/Y')}}</li>
            {% endfor %}
        </ul>

        {% if is_granted('ROLE_ADMIN') %}
            <p>Admin in the place</p>
        {% endif %}

    </div>
{% endblock %}

{% block javascripts %}
    <script>
        new Vue({
            el: '#userEdit',
            delimiters: ['${', '}'],
            data: {}
        })
    </script>
{% endblock %}